include README.md
include ld12/data/annotations.tsv
include ld12/data/metadata.tsv
include ld12/data/genomes/637000058.fasta.gz
include ld12/data/genomes/638341056.fasta.gz
include ld12/data/genomes/647533122.fasta.gz
include ld12/data/genomes/650716017.fasta.gz
include ld12/data/genomes/2236347014.fasta.gz
include ld12/data/genomes/2236347020.fasta.gz
include ld12/data/genomes/2236347068.fasta.gz
include ld12/data/genomes/2236347069.fasta.gz
include ld12/data/genomes/2236661000.fasta.gz
include ld12/data/genomes/2236661008.fasta.gz
include ld12/data/genomes/2236661011.fasta.gz
include ld12/data/genomes/2236661012.fasta.gz
include ld12/data/genomes/2236876027.fasta.gz
include ld12/data/genomes/2236876029.fasta.gz
include ld12/data/genomes/2236876030.fasta.gz
include ld12/data/genomes/2236876031.fasta.gz
include ld12/data/genomes/2236876032.fasta.gz
include ld12/data/genomes/2264265094.fasta.gz
include ld12/data/genomes/2265129005.fasta.gz
include ld12/data/genomes/2503283019.fasta.gz
include ld12/data/genomes/2503283022.fasta.gz
include ld12/data/genomes/2503754000.fasta.gz
include ld12/data/genomes/2503982040.fasta.gz
include ld12/data/genomes/2503982041.fasta.gz
include ld12/data/genomes/2510461079.fasta.gz
include ld12/data/genomes/2511231041.fasta.gz
include ld12/data/genomes/2511231042.fasta.gz
include ld12/data/genomes/2511231043.fasta.gz